:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
}

.coding-content-item {
  /* width: 500px; */
  padding: 0 16px;
  width: 100%;
  min-width: 450px;
  height: 300px;
  min-height: 250px;
  border-radius: 3px;
  justify-content: center;
  align-items: center;
  background: white;
  display: flex;
  grid-template-columns: 1fr;
}
.coding-content-item img {
  position: sticky;
  opacity: 1;
  border-radius: 3px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.coding-content-item:hover img {
  opacity: 0.1;
}

.coding-content-overlay {
  position: absolute;
  opacity: 0;
  transform: translate(0, -10vh);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}
.coding-content-item:hover .coding-content-overlay {
  opacity: 1;
  display: flex;
  transform: translate(0, 0vh);
}
.small-title {
  font-size: 1.2rem;
}
.big-title {
  font-size: 1.8rem;
}

.coding-content-overlay-buttons {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: transparent;
}
.coding-content-overlay-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  border-radius: 4px;
  text-decoration: none;

  font-size: 1.1rem;
  margin: 0 3px 0 3px;
  padding: 4px 10px;
  transition: 0.3s ease;
}

.website-link,
.github-link {
  gap: 5px;
  color: #242424;
  border: 1px solid #242424;
}

.website-link:hover {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: white;
}
.github-link:hover {
  border: 1px solid var(--secondary-color);
  background: var(--secondary-color);
  color: white;
}

@media (max-width: 1350px) {
  .coding-content-overlay {
    transform: translate(0vw, -8vh);
  }
  .small-title {
    font-size: 1rem;
  }
  .big-title {
    font-size: 1.4rem;
  }
  .coding-content-item:hover .coding-content-overlay {
    transform: translate(0vw, 0vh);
  }

  .coding-content-item {
    display: flex;
    min-width: 300px;
    min-height: 300px;
    height: 250px;
    width: 100%;
  }
}
@media (max-width: 900px) {
  .coding-content-overlay {
    transform: translate(0vw, -6vh);
  }

  .coding-content-item:hover .coding-content-overlay {
    transform: translate(0vw, 0vh);
  }
  .coding-content-item {
    padding: 0;
    display: flex;
    min-width: 350px;
    min-height: 200px;
    height: 200px;
    width: 90%;
  }
}
@media (max-width: 700px) {
  .coding-content-item {
    width: 100%;
  }
}
@media (max-width: 499px) {
  .coding-content-item {
    min-width: 200px;
    min-height: 150px;
    height: 150px;
    width: 90%;
  }
}
