* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
  --primary-grey: rgb(221, 221, 218);
}

.graphics-content {
  display: flex;
  padding: 25px 0;
  width: 100%;
  min-height: 500px;
}

.graphics-content-items {
  justify-content: center;
  gap: 10px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-3d {
  display: flex;
  min-width: 350px;
  height: 350px;
  overflow: hidden;
  transition: 0.5s ease;
  /* position: relative; */
  justify-content: center;
  align-items: center;
  background: white;
}
.image-3d img {
  cursor: pointer;
  position: sticky;
  opacity: 1;
  border-radius: 3px;
  object-fit: cover;
  width: 100%;
  height: 100%;
  transition: 0.3s ease;
}
.image-3d:hover .image {
  transform: scale(1.05);
  opacity: 0.3;
}

.image-overlay {
  cursor: pointer;
  object-fit: cover;
  position: absolute;
  opacity: 0;
  transform: translate(0, -10vh);
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
}

.image-3d:hover .image-overlay {
  opacity: 1;
  display: flex;
  transform: translate(0, 0vh);
}

.image-overlay p {
  margin: 0 0 10px 0;
  color: #242424;
  font-size: 1.6rem;
  font-weight: 400;
}
.image-overlay h5 {
  font-size: 1.1rem;
  font-weight: 400;
  margin: 0 0 5px 0;
}

.graphics-title {
  margin-top: 20px;
}

@media (max-width: 1350px) {
  .graphics-content-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-3d {
    min-height: 300px;
    min-width: 300px;
  }
  .image-overlay {
    transform: translate(0, -10vh);
  }
  .image-3d:hover .image-overlay {
    transform: translate(0, 0);
  }
  .image-overlay p {
    font-size: 1.4rem;
  }
  .image-overlay h5 {
    font-size: 1rem;
  }
}

@media (max-width: 900px) {
  .graphics-content-items {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .image-3d {
    border-radius: 2px;
    min-width: 350px;
    min-height: 350px;
  }
  .image-overlay {
    transform: translate(0, -10vh);
  }
  .image-3d:hover .image-overlay {
    transform: translate(0, 0);
  }
  .image-overlay p {
    font-size: 1.6rem;
  }
  .image-overlay h5 {
    font-size: 1.1rem;
  }
}
@media (max-width: 700px) {
  .image-overlay p {
    font-size: 1.4rem;
  }
  .image-overlay h5 {
    font-size: 1rem;
  }
}

@media (max-width: 560px) {
  .image-overlay p {
    font-size: 1.3rem;
  }
  .image-overlay h5 {
    font-size: 1rem;
  }
  .image-overlay {
    transform: translate(0, -10vh);
  }
  .image-3d:hover .image-overlay {
    transform: translate(0, 0);
  }
}
