* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.graphics-content {
  display: flex;
  padding: 25px 0;
  width: 100%;
  min-height: 500px;
}

.graphics-content-items {
  gap: 7px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-3d {
  display: flex;
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;
  transition: 0.5s ease;
  position: relative;
}

.image {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.image-overlay {
  margin: 0 auto;
  background: orange;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(6vw, 0%);
  text-align: center;
}
.image-overlay h1 {
  color: #242424;
  background: orange;
  z-index: 100;
}

.image-3d:hover .image {
  transform: scale(1.05);
  opacity: 0.3;
}
.image-3d:hover .image-overlay {
  opacity: 1;
  z-index: 100;
  transform: translate(6vw, 90%);
}

.graphics-title {
  margin-top: 20px;
}

@media (max-width: 1350px) {
  .graphics-content-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-3d {
    min-height: 300px;
    min-width: 300px;
  }
  .image-3d:hover .image-overlay {
    transform: translate(8vw, 90%);
  }
  .image-overlay {
    transform: translate(8vw, 0%);
  }
}
@media (max-width: 900px) {
  .graphics-content-items {
    grid-template-columns: 1fr;
  }
  .image-3d {
    min-height: 350px;
  }
  .image-3d:hover .image-overlay {
    transform: translate(14vw, 90%);
  }
  .image-overlay {
    transform: translate(14vw, 0%);
  }
}
