* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
  --primary-grey: rgb(221, 221, 218);
}

.graphics-content {
  display: flex;
  padding: 25px 0;
  width: 100%;
  min-height: 500px;
}

.graphics-content-items {
  justify-content: center;
  gap: 7px;
  width: 100%;
  height: 100%;
  background: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.image-3d {
  display: flex;
  min-width: 350px;
  min-height: 350px;
  overflow: hidden;
  transition: 0.5s ease;
  position: relative;
}

.image {
  opacity: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.image-overlay {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  transform: translate(5vw, 0);
  text-align: center;
}

.image-3d:hover .image-overlay {
  opacity: 1;
  z-index: 100;
  transform: translate(5vw, 15vh);
}
.image-overlay button {
  border-radius: 3px;
  outline: none;
  position: relative;
  border: 1px solid var(--primary-color);
  font-weight: 400;
  font-size: 1.2rem;
  margin: 0 3px 0 3px;
  padding: 6px 24px;
  background: none;
  transition: 0.3s ease;
}
.image-overlay button:hover {
  background: #fff;
  color: var(--primary-color);
}

.image-overlay p {
  margin: 0 0 10px 0;
  color: #242424;
  font-size: 1.7rem;
  font-weight: 400;
}
.image-overlay h5 {
  font-weight: 500;
  margin: 0 0 5px 0;
}

.image-3d:hover .image {
  transform: scale(1.05);
  opacity: 0.3;
}

.graphics-title {
  margin-top: 20px;
}

@media (max-width: 1350px) {
  .graphics-content-items {
    grid-template-columns: repeat(2, 1fr);
  }
  .image-3d {
    min-height: 300px;
    min-width: 300px;
  }
  .image-3d:hover .image-overlay {
    transform: translate(7vw, 13vh);
  }
  .image-overlay {
    transform: translate(7vw, 0);
  }
}
@media (max-width: 900px) {
  .graphics-content-items {
    grid-template-columns: 1fr;
    justify-content: center;
  }
  .image-3d {
    border-radius: 2px;
    min-width: 350px;
    min-height: 350px;
  }
  .image-overlay {
    transform: translate(16vw, 0%);
  }
  .image-3d:hover .image-overlay {
    transform: translate(16vw, 18vh);
  }
}

@media (max-width: 560px) {
  .image-overlay {
    transform: translate(15vw, 0%);
  }
  .image-3d:hover .image-overlay {
    transform: translate(15vw, 20vw);
  }
}
