:root {
  --secondary-color: rgb(95, 200, 241);
}

.break-dot {
  background: var(--secondary-color);
  min-width: 6px;
  width: 6px;
  height: 2px;
}

@media (max-width: 1350px) {
  .break-dot {
  }
}
@media (max-width: 900px) {
  .break-dot {
    opacity: 0;
  }
}
