.modal {
  position: fixed;
  z-index: 100;
  display: flex;
  justify-content: center;
  flex-flow: row;
  background: transparent;
  min-height: 400px;
  width: 100%;
  padding: 10px;
  top: 4%;
  transition: transform 0.3s;
}
.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: contain;
  padding: 7px;
  background: rgba(255, 255, 255, 0.9);
  min-height: 200px;
  border-radius: 3px;
}

.modal-content img {
  height: 88vh;
  width: auto;
}

.modal-buttons-left,
.modal-buttons-right {
  width: 100%;
  padding: 10px;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.modal-next,
.modal-prev {
  font-size: 2rem;
  cursor: pointer;
  color: rgba(136, 132, 132, 0.5);
  background: transparent;
  padding: 5px 10px;
  transition: all 0.2s ease-in-out;
}
.modal-prev {
  display: flex;
  align-self: flex-start;
}

.modal-next {
  display: flex;
  align-self: flex-end;
  position: relative;
  top: -5vh;
}
.modal-close {
  display: flex;
  align-self: flex-end;
  cursor: pointer;
  color: rgba(141, 136, 136, 0.8);
  background: transparent;
  padding: 5px;
  transition: all 0.2s ease-in-out;
  position: relative;
  top: -40vh;
  font-size: 2rem;
}

.modal-next:hover,
.modal-prev:hover,
.modal-close:hover {
  position: relative;
  color: rgba(202, 199, 199);
  transform: scale(1.1);
}
