:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
  --primary-grey: rgb(221, 221, 218);
}
#about {
  align-items: center;
  color: #fff;
  padding: 70px 70px;
  background: #242424;
  width: 100%;
  min-height: 200px;
}

.layout-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* .transition {
  background: #ccc;
  height: 80px;
  width: 100%;
} */
.about-break {
  background: var(--secondary-color);
  width: 100%;
  height: 2px;
}

.about-container {
  width: 70%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.about-menu {
  width: 100%;
  display: flex;
  gap: 10px;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.about-title-and-arrow {
  font-weight: 400px;
  display: flex;
  flex-flow: row;
  font-size: 1.8rem;
}
.about-menu-buttons {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
}
.about-menu-buttons button {
  margin: 0 3px;
  border-radius: 3px;
  border: none;
  outline: none;
  background: none;
  color: #fff;
  font-weight: 300;
  font-size: 1.6rem;
  padding: 5px 16px;
  transition: all 0.3s ease-in-out;
}

.about-menu-buttons button:hover {
  color: #fff;
  background: var(--secondary-color);
  outline: none;
}

#about-heading-lg {
  color: #fff;
  font-weight: 400;
}

#about-heading-sm {
  padding: 1.5rem 0;
  font-weight: 300;
  font-size: 1.4rem;
}

.bio {
  grid-area: bio;
  width: 90%;
}

.bio h3 {
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--secondary-color);
  padding-bottom: 20px;
}
.bio p {
  font-size: 1.2rem;
  font-weight: 300;
}

.about-info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.bio-portrait {
  grid-area: bioimage;
  border-radius: 50%;
  margin: auto;
}

@media (max-width: 1024px) {
  .bio {
    margin-bottom: 20px;
  }
  .layout-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .about-info {
  }
  .bio h3 {
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--secondary-color);
    /* padding-bottom: 20px; */
  }
}
@media (max-width: 900px) {
  #about-heading-sm {
    padding: 1.5rem 0;
    font-weight: 300;
    font-size: 1.3rem;
  }
  .about-menu {
    /* align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px; */
  }
  .about-menu-buttons {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 700px) {
  #about {
    align-items: center;
    color: #fff;
    padding: 30px;
    background: #242424;
  }
  .about-menu {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
  }
}
