:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
  --primary-grey: rgb(221, 221, 218);
}
#about {
  align-items: center;
  color: #fff;
  padding: 70px 65px;
  background: #242424;
  width: 100%;
  min-height: 200px;
}

.about-break {
  background: var(--secondary-color);
  width: 100%;
  height: 2px;
}

.about-container {
  width: 90%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
#about-heading-lg {
  color: #fff;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 7vw;
  padding-bottom: 15px;
}

#about-heading-sm {
  padding: 1.5rem 0;
  font-weight: 500;
  font-size: 1.5rem;
}

.bio {
  grid-area: bio;
}

.bio h3 {
  font-weight: 500;
  font-size: 1.5rem;
  color: var(--secondary-color);
  padding-bottom: 20px;
}
.bio p {
  font-size: 1.2rem;
  font-weight: 400;
}

.about-info {
  display: grid;
  gap: 20px;
  grid-template-areas:
    "bioimage job1"
    "bio job2"
    "bio job3";
  grid-template-columns: repeat(2, 1fr);
}
.bio-portrait {
  grid-area: bioimage;
  border-radius: 50%;
  margin: auto;
}

.job {
  color: #242424;
  border-radius: 5px;
  padding: 1rem;
  border-bottom: 8px solid var(--primary-grey);
  background: #fff;
}

.job h3 {
  margin-bottom: 5px;
  color: var(--secondary-color);
  font-size: 1.2rem;
}
.job h5 {
  margin-bottom: 5px;

  font-weight: 600;
  font-size: 0.9rem;
}

.job p {
  margin: 10px 0 25px 0;
}

.job1 {
  grid-area: job1;
}
.job2 {
  grid-area: job2;
}
.job3 {
  grid-area: job3;
}
