.menu-btn {
  z-index: 3;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background-color: #242424;
  border-radius: 8px;
  transition: all 0.5s ease-out;
}

.close {
  transform: rotate(180deg);
}
