:root {
  --primary-grey: rgb(221, 221, 218);
  --secondary-color: rgb(95, 200, 241);
}

#contact {
  background: #fff;
  width: 100%;
  padding: 70px 70px 100px 70px;
  min-height: 665px;
  color: #242424;
  transition: 0.3s ease;
}
.contact-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  transition: 0.3s ease;
}
.contact-title-and-arrow {
  display: flex;
  align-self: flex-start;
  margin: 0 0 20px 0;
}
.arrow {
  font-size: 1.8rem;
  margin: 0 5px 0 5px;
}

.contact-title-and-arrow p {
  color: #242424;
  font-weight: 400;
  font-size: 1.8rem;
}

.contact-heading-sm {
  display: flex;
  align-self: flex-start;
  padding: 1.5rem 0;
  font-weight: 400;
  width: 100%;
}

.contact-info {
  width: 100%;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  gap: 2px;
}

.contact-info form {
  width: 100%;
  display: flex;
  align-self: flex-start;
  flex-flow: column;
  /* align-items: center;
  justify-content: center; */
  gap: 2px;
}
.contact-info label {
  font-weight: 400;
  color: rgb(173, 173, 173);
}

.send-button {
  cursor: pointer;
  margin: 10px 0 0 0;
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  display: flex;
  color: white;
  border-radius: 3px;
  padding: 6px 16px;
  align-self: flex-start;
  outline: none;
  font-size: 1rem;
  transition: 0.3s ease;
}
.send-button:hover {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-color);
  color: white;
}
.send-button:disabled {
  cursor: not-allowed;
}

.onscreen-alert {
  margin: 60px 0 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: 0.3s ease;
}
.onscreen-alert h2 {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 2rem;
  color: #242424;
}
.onscreen-alert p {
  font-weight: 400;
  font-size: 1.4rem;
}

@media (max-width: 1056px) {
}

@media (max-width: 900px) {
  .contact-info form {
    width: 100%;
  }
  .contact-input {
    width: 70%;
  }
  .contact-heading-sm {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    padding: 1.5rem 0;
    font-weight: 400;
  }
  .contact-container {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .contact-title-and-arrow {
    display: flex;
    align-self: auto;

    justify-content: center;
    margin: 0 0 40px 0;
  }
}
@media (max-width: 700px) {
  #contact {
    padding: 70px 30px 100px 30px;
  }
  .contact-container {
    padding: 10px;
    width: 85%;
  }
  .contact-input {
    width: 100%;
  }
}
@media (max-width: 499px) {
  #contact {
    padding: 70px 0px 100px 0px;
  }
}
