:root {
  --primary-grey: rgb(221, 221, 218);
  --secondary-color: rgb(95, 200, 241);
}

#contact {
  background: #fff;
  width: 100%;
  padding: 70px 70px 100px 70px;
  min-height: 300px;
  color: #242424;
}
.contact-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}
.contact-heading-lg {
  color: #242424;
  font-size: 2rem;
  font-weight: 400;
  padding-left: 7vw;
  padding-bottom: 15px;
}

.contact-heading-lg h1 {
  font-weight: 400;
  font-size: 1.8rem;
}

.contact-heading-sm {
  padding: 1.5rem 0;
  font-weight: 500;
}

.contact-info {
  width: 40%;
  display: flex;
  flex-flow: column;
  gap: 2px;
}

.contact-input {
  font-size: 1.1rem;
  outline: none;
  border: 1px solid #5e5d5d;
  padding: 6px 14px;
  border-radius: 3px;
  transition: 0.3s ease;
}
.send-button {
  cursor: pointer;
  margin: 10px 0 0 0;
  background-color: var(--secondary-color);
  display: flex;
  color: white;
  border-radius: 3px;
  padding: 8px 20px;
  align-self: flex-start;
  outline: none;
  border: none;
  font-size: 1rem;
}
/* .contact-input:hover {
  border: 1px solid var(--secondary-color);
} */

.contact-info textarea {
  resize: none;
}

/* .box {
  border-radius: 5px;
  padding: 10px 24px;
  background-color: var(--primary-grey);
}
.box h3 {
  font-weight: 500;
  font-size: 1.5rem;
} */

@media (max-width: 1056px) {
}

@media (max-width: 900px) {
  .contact-heading-sm {
    font-size: 1.4rem;
    padding: 1.5rem 0;
    font-weight: 400;
  }
}
