#contact {
  background: rgb(235, 235, 235);
  width: 100%;
  padding: 50px 65px;
  min-height: 200px;
  color: #242424;
}
.contact-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.contact-break {
  background: rgb(224, 206, 40);
  width: 100%;
  height: 3px;
}

.contact-heading-lg {
  padding-left: 5vw;
}

.contact-heading-sm {
  padding: 1.5rem 0;
}
