.coding-content-info {
  padding: 0px 16px;
  margin-top: 10px;
  /* width: 500px; */
  width: 100%;
}

.coding-content-info h4 {
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 1.4rem;
}
.coding-content-info p {
  font-weight: 300;
  padding: 10px 0 10px 0;
  font-size: 1.2rem;
}

.project-tags {
  padding: 10px 0;
  display: flex;
  flex-flow: row;
  gap: 5px;
}
@media (max-width: 1350px) {
  .coding-content-info {
    width: 350px;
  }
}
@media (max-width: 900px) {
  .coding-content-info {
    min-width: 350px;
    min-height: 200px;
    height: 200px;
    width: 90%;
    margin-top: 0;
    margin-bottom: 40px;
  }
  .project-tags {
    padding: 10px 5px;
    display: flex;
    flex-flow: row;
    gap: 2px;
  }
}
@media (max-width: 499px) {
  .coding-content-info {
    min-width: 200px;
    min-height: 150px;
    height: 150px;
    width: 90%;
    margin-top: 0;
  }
}
