:root {
  --primary-color: #242424;
  --secondary-color: rgb(95, 200, 241);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.NavbarItem {
  position: fixed;
  background: transparent;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: 0.3s ease-in-out;
  z-index: 90;
}

.NavbarItem.active {
  z-index: 90;
  height: 70px;
  background-color: #fff;
  color: #242424;
  transition: 0.4s ease-in-out;
}
.NavbarItem.hidden {
  visibility: hidden;
}

.NavbarItem.active .nav-links {
  transition: 0.2s ease-in-out;
  color: #242424;
  font-weight: 400;
  grid-gap: 1%;
}
.NavbarItem.active .nav-links:hover {
  color: #ccc;
}

.NavbarItem h1 {
  font-weight: 400;
}

.fa-react {
  margin-left: 0.1rem;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1%;
  text-align: right;
  width: 100%;
  justify-content: end;
  margin-right: 4rem;
  list-style: none;
}

.nav-links {
  cursor: pointer;
  transition: 0.3s ease;
  padding: 10px 15px;
  text-decoration: none;
  color: #fff;
}

.nav-links:hover {
  color: #ccc;
}

.menu-icon {
  display: none;
}

.NavbarItem.active .btn-line {
  background: #242424;
}

@media screen and (max-width: 700px) {
  .NavbarItem {
    width: 100%;
    position: fixed;
    background: #fff;
  }

  .nav-menu {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    opacity: 1;
    left: -100%;
    transition: all 0.3s ease;
  }
  .nav-menu.active {
    left: 0;
    opacity: 1;
    background: #fff;
    z-index: 100;
    transition: all 0.3s ease;
  }

  .nav-links {
    color: #242424;
    display: table;
    text-align: center;
    width: 100%;
  }
  .nav-links:hover {
    border: none;
    width: 100%;
    padding: 10px;
    color: #ccc;
    border-radius: 0;
  }
  .navbar-logo {
    justify-self: start;
    width: 100%;
    margin-left: 4rem;
  }

  .menu-icon {
    color: #fff;
    display: block;
    cursor: pointer;
    width: 100%;
  }

  .fa-bars {
    color: var(--primary-color);
  }

  .fa-times {
    color: var(--primary-color);
    font-size: 2rem;
  }
}
