:root {
  --primary-color: #242424;
  --secondary-color: rgb(218, 159, 52);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.NavbarItem {
  background: #fff;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  border-bottom: 1px solid #242424;
}

.NavbarItem h1 {
  font-weight: 600;
}

.navbar-logo {
  color: var(--primary-color);
  justify-self: start;
  width: 100%;
  margin-left: 4rem;
  cursor: pointer;
}

.fa-react {
  margin-left: 0.1rem;
  font-size: 2rem;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-gap: 1%;
  text-align: center;
  width: 70vw;
  justify-content: end;
  margin-right: 4rem;
  list-style: none;
}

.nav-links {
  padding: 10px 15px;
  text-decoration: none;
  color: #242424;
}

.nav-links:hover {
  padding: 5px 15px;
  border-bottom: solid 2px var(--secondary-color);
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 700px) {
  .NavbarItem {
    position: relative;
  }
  .nav-menu {
    width: 100%;
    height: 135px;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;

    opacity: 1;
    left: -100%;
    transition: all 0.3s ease;
  }
  .nav-menu.active {
    left: 0;

    opacity: 1;
    background: var(--primary-color);
    z-index: 1;
    transition: all 0.3s ease;
  }
  .nav-links {
    color: #fff;

    display: table;
    text-align: center;
    width: 100%;
  }
  .nav-links:hover {
    border: none;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: var(--primary-color);
    border-radius: 0;
  }
  .navbar-logo {
    justify-self: start;
    width: 100%;
    margin-left: 4rem;
  }
  .menu-icon {
    cursor: pointer;
    display: block;
    justify-content: end;
    margin-right: 2rem;
    font-size: 2rem;
  }

  .fa-bars {
    color: var(--primary-color);
  }

  .fa-times {
    color: var(--primary-color);
    font-size: 2rem;
  }
} ;
