.contact-input {
  text-decoration: none;
  border: none;
  /* background: rgb(243, 243, 243); */
  border-bottom: 1px solid #ccc;
  display: flex;
  align-self: flex-start;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 8px;
  padding: 8px 14px;
  width: 50%;
  transition: 0.3s ease;
}

.contact-input-textarea {
  width: 100%;
  resize: none;
  text-decoration: none;
  border: none;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-self: flex-start;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 8px;
  padding: 8px 14px;
  transition: 0.3s ease;
}

@media (max-width: 900px) {
  .contact-input {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .contact-input {
    width: 100%;
  }
}
