.contact-input {
  text-decoration: none;
  border: none;
  background: rgb(248, 248, 248);
  border-radius: 3px;
  display: flex;
  align-self: flex-start;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 8px;
  padding: 10px 14px;
  width: 40%;
  transition: 0.3s ease;
}

.contact-input-textarea {
  width: 100%;
  resize: none;
  text-decoration: none;
  border: none;
  /* border-bottom: 1px solid #ccc; */
  background: rgb(248, 248, 248);
  border-radius: 3px;
  display: flex;
  align-self: flex-start;
  font-size: 1.1rem;
  outline: none;
  margin-bottom: 8px;
  padding: 8px 14px;
  transition: 0.3s ease;
}

@media (max-width: 1350px) {
  .contact-input {
    width: 50%;
  }
}

@media (max-width: 900px) {
  .contact-input {
    width: 70%;
  }
}

@media (max-width: 700px) {
  .contact-input {
    width: 100%;
  }
}
