.tag {
  font-size: 0.9rem;
  color: #242424;
  border: 1px solid #242424;
  padding: 3px 12px;
  border-radius: 25px;
}

@media (max-width: 900px) {
  .tag {
    font-size: 0.7rem;
    color: #242424;
    border: 1px solid #242424;
    padding: 3px 12px;
    border-radius: 25px;
  }
}
